@inherits LayoutComponentBase

<div class="main">    
    <div class="top-row px-4">
        <h1>Blazor JSON Transform</h1>
        <a href="https://github.com/marcotako/BlazorJSONTransform" target="_blank" class="ml-md-auto">Github</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
